<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/study_layout :: layout(~{::title},~{::section}, ~{::script})}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>스터디 신청 폼 생성</title>
</head>
<body class="bg-gray-100">
<section>
  <div class="container mx-auto p-6">
    <h2 class="text-2xl font-bold mb-4">스터디 신청 폼 생성</h2>
    <form th:object="${form}" th:action="@{/study/form}" method="post" id="customForm" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div id="studyForm" th:data-form="${form}"></div>
      <div class="mb-4">
        <label for="formTitle" class="block text-gray-700 text-sm font-bold mb-2">제목</label>
        <input type="text" id="formTitle" name="formTitle" placeholder="제목 입력"
               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        <div class="text_warn" id="error_title"></div>
      </div>

      <div class="mb-6">
        <label for="formDescription" class="block text-gray-700 text-sm font-bold mb-2">설명</label>
        <textarea id="formDescription" name="formDescription" placeholder="설명 입력"
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
        <div class="text_warn" id="error_description"></div>
      </div>

      <div class="text_warn" id="error_form_question"></div>
      <div id="formItems" class="space-y-4"></div>

      <div class="text-right">
        <button type="button" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" onclick="onFormSubmit(event)">
          제출
        </button>
      </div>
    </form>
  </div>
</section>
<script src="/js/study/study_form_view.js"></script>
</body>
</html>