<!DOCTYPE html>
<html th:replace="~{layout/member_layout :: layout(~{::title},~{::section}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>404</title>
</head>
<body>
<section class="flex items-center justify-center min-h-screen bg-gray-100 text-gray-800">
  <div class="max-w-md text-center">
    <h1 class="text-9xl font-extrabold text-yellow-500">500</h1>
    <p class="text-2xl md:text-3xl font-semibold mt-4">서버에 오류가 발생했습니다.</p>
    <p class="mt-4 mb-8 text-gray-600">
      요청하신 페이지를 처리할 수 없습니다. 입력한 내용을 확인해 주세요.
    </p>
  </div>
</section>
<script></script>
</body>
</html>